
<nav class="flex3">
    <nav>
        <p class="alinhamento1">Sobre o</p>
          <ul class="alinhamento2">
            <li> Sigma Hardware</li>
            <li> </li>
            <li> </li>
          </ul>    
    </nav>
    <nav>
          <p class="alinhamento1">Contato</p>
          <ul class="alinhamento2">
            <li>Comprar</li>
            <li>Vender</li>
            <li>Solução de Problemas</li>
            <li>Segurança</li>
          </ul>                    
    </nav>  
    <nav>                  
            <p class="alinhamento1">Redes Sociais</p>
            <ul class="alinhamento2">
              <li>Twiter</li>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
    </nav>
    <nav>
            <p class="alinhamento1">Minha Conta</p>
            <ul class="alinhamento2">
              <li>Resumo</li>
              <li>Favoritos</li>
              <li>Vender</li>
            </ul>
    </nav>
</nav>
</main>
<footer class="footerGrid">
<ul class="flex4">
<li class="listas">Trabalhe Conosco</li>
<li class="listas">Termos e condições</li>
<li class="listas">Como cuidamos de sua privacidade</li>
<li class="listas">Acessibilidade</li>
<li class="listas">Contato</li>
<li class="listas">Informações sobre seguros</li>
</ul>
<p> Copyright © 2022 LTDA.<br>
CNPJ n.º 02.005.001/0001-01 / Av. Habib Gabriel, 1360 Res. Olivio Benassi, Matão/SP - CEP 15990-000.</p>
</footer>